<h1>create a new admin</h1>
<form action="/admin" method="post">
    <div>
        <label for="">username</label>

        <input type="text" class="form-control" name="username"/>
    </div>
    <div>
        <label for="">password</label>
        <input type="password" class="form-control" name="password"/>
    </div>
  
    <div>
        <button class="btn btn-success" type="submit">add admin</button>
    </div>
</form>