<h1>subjects</h1>

<div class="my-2">
    <a href="subject/create">add new subject</a>
</div>

{{#each subjects}}
    <div class="d-flex justify-content-between"><a href="/subject/{{_id}}">{{name}}</a>
        
      <div>
    <a href="/subject/{{_id}}/edit">   Edit</a>
 
     |
    


   <form action='/subject/{{_id}}?_method=DELETE' method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete resource</button>
</form>
    
    </div>
    </div>

{{/each}}